#header-search-div{
        background-image: url("https://images.pexels.com/photos/1603901/pexels-photo-1603901.jpeg?auto=compress&cs=tinysrgb&w=600");
        background-position: left;
        background-color: #b5a7a7; 
        background-blend-mode: darken;
}