#header-restaurant-div{
 background-image: url("https://images.pexels.com/photos/1237073/pexels-photo-1237073.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
 opacity: revert;
}
.heading-top-restaurant{
    text-shadow: 1px 1px black;
}